<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page - All about puppies</title>
</head>
<body>
    <h1>Welcome home!</h1>
    <h1>All about Puppies</h1>
    <h2>Hello {{ name }}</h2>
    <h2>Hello {{ pup_dictionary['pup_name']}}</h2>
    <ul>
        {% for letter in letters %}
        <li>{{ letter }} - is good</li>
        {% endfor %}
    </ul>
    <ul>
        {% for element in letters %}
                <li>{{ element|e }}</li>
        {% endfor %}
    </ul>
    {% if 'Sammy' in puppies %}
        <p>Found you Sammy</p>
    {% else %}
        <p>No Sammy here</p>
    {% endif %}

    {% if 'Rufus' in puppies %}
        <p>Found you Rufus</p>
    {% else %}
        <p>No Rufus here</p>
    {% endif %}
</body>
</html>